.idea/
node_modules/
gen/
src/antlr4/DiiaLexer.tokens
ttest.js
тест.м
build/
build-bin/
build-Obin/
cmake-build-debug/
привіт.ц
привіт
привіт.сплав
привіт.виріб
привіт.обц
привіт.бобц
привіт.сбобц
привіт.васм
привіт.wasm
друк.o
результат
сплав
x.ll
привіт.o
привіт.ll
привіт.bc
привіт
m.c
m.cpp
m.ll
a.out
raylib-5.0_linux_amd64/
.плавлення/
.плавлення-бібліотеки/
.плавлення-old/
.плавлення-new/
.плавлення-new1/
.плавлення-new2/
.плавлення-new3/
.плавлення-use-original/
release/
build-antlr/
.плавлення-use-original/
.плавлення-new/
.плавлення-new2/
.плавлення-old/
.плавлення-бібліотеки/
.llvm-source-and-build/
build-old/
.тестування/
x
build-neo/
build-old/
.llvm-source-and-build/
x
.тестування/
.плавлення-КЦ/
випуски/